
body { 
    color: blanchedalmond;
    font-family: cursive;
}



/*FORM */ 
form#survey {
    display: flex;
    flex-flow: row wrap;
 }
 form#survey > fieldset {
    background: linear-gradient(black,rgb(123, 0, 4),black);
    border-radius: 20px;
    flex: 1 1 300px;
    font-size: 0.85em;
    padding: 10px;
    margin: 10px;
 }
 
 div.formRow {
    display: flex;
    flex-flow: row wrap;
    margin: 7px 0px;
    color: blanchedalmond;
    font-size: 15px;
 }
 
 div.formRow > * {
    flex: 1 1 150px;
 }
 
 /* Legend Styles */

 
 legend {
    background-color: blanchedalmond;
    color: rgb(179, 20, 25);
    padding: 0px;
    font-size: 15px;
    width: 173px;
    font-weight: 600;
    height: 25px;
 }
 
 /* Text Area Styles */
 
 textarea {
    margin-top: 10px;
    height: 100px;
    width: 95%;
 }
 
 /* Spinner Styles */
 
 div.formRow > input#dineSpin {
    flex: 0 0 50px;
 }
 
 
 
 /* Form Button Styles */
 div#buttons {
    text-align: center;
    width: 100%;
 }
 
 input[type="submit"], input[type="reset"] {
    font-size: 1.2em;
    padding: 5px;
    margin: 15px;
 }
 
 
 /* Validation Styles */
 
 input:focus, select:focus, textarea:focus {
    background-color: blanchedalmond;
 }

 input, select, textarea {
    background-color: black;
    border-color: blanchedalmond;
    color: red;
 }
/*Form End*/  