#header{ 
    background-image: url("../photos/redcover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: cursive;
    color: blanchedalmond;
}

header #searchbox {
    float: left;
    width: 250px;
    border-radius: 20px;
    padding: 4px;
    border-color: red;
    border-style: solid;
    color: black;
}

body nav {
    font-family: cursive;
}

.testing{ 
    color: blanchedalmond;
}

.nav-link { 
    background-color: rgb(35, 35, 35);
}

.nav-link:hover {
    background-color: black;
}

